<ion-view title="Home" cache-view="false">

    <div class="bar bar-header bar-dark">
        <h1 class="title"></h1>
    </div>

    <ion-content class="has-header">
        <img id="home_logo" src="img/home_logo.png"/>
        <div class="contentButtons">
            <button class="button button-block button-positive" ng-click="toNewGame()">
                New Game
            </button>

            <button class="button button-block button-positive" ng-click="toCourses()">
                View Courses
            </button>

            <button class="button button-block button-positive" ng-click="toPlayerList()">
                View Players
            </button>
        </div>
    </ion-content>
</ion-view>