<ion-view title="Select Course" cache-view="false">
    <div class="bar bar-header bar-dark">
        <button class="button button-positive" ng-click="toNewGame()">
            To New Game
        </button>
        <h1 class="title">Select Course</h1>
    </div>

    <ion-content class="has-header">
        <div class="list list-inset" ng-show="!noCourses" ng-repeat="course in coursesArray">
            <div class="item item-button-right">
                <h2>{{ course.name }}</h2>
                <p>Par {{ course.par }}</p>
                <button class="button button-positive" ng-click="setCurrentCourse(course)">Select</button>
            </div>
        </div>
        <div class="list list-inset" ng-show="noCourses">
        <div class="item">
            <h2>No courses</h2>
            </div>
        </div>
    </ion-content>
</ion-view>